button {
  background-color: transparent;
  background-image: none;
  border: none;
  color: white;
  cursor: pointer;
  font-family: inherit;
  margin: 0;
  outline: none;
  padding: 1rem 2rem;

  &:hover {
    box-shadow: 0 0 0 1px black inset;
  }

  &[type=submit] {}
}
